<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<title>Usunieta ksiazka</title>
<link rel="stylesheet" th:href="@{/static/application.css}"
	href="/static/application.css" />
</head>

<body>
	<table class="gridtable">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Authors</th>
			<th>Delete</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.id}">id</td>
			<td th:text="${book.title}">title</td>
			<td th:text="${book.authors}">authors</td>
			<td><form th:action="@{/book-deleted(id=${book.id})}"
					th:-Object="${book}" th:method="post" title="Delete">
					<button type="submit">Delete</button>
				</form></td>
		</tr>
	</table>
	Ksiazka o tytule
	<td th:text="${bookDeleted.title}">title</td> zostala usunieta
</body>
</html>